a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}


body
{
  font-family: 'Myriad Pro';
  font-size: 14px;
  text-shadow: rgb(51, 51, 51) 1px 1px 14px;
  margin-top: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
  margin-left: 28px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: white;
  font-size: 36px;
  background-color: rgb(154, 205, 50);
  background-image: url(../img/rainbow2.png);
  background-size: 52px;
  background-repeat: no-repeat repeat;
}
